NODE_ENV=<DEVELOPMENT STATE>
PORT=<APP PORT>
DATABASE_HOST=<DATABASE HOST>
DATABASE_PORT=<DATABASE PORT>
DATABASE_USERNAME=<DATABASE USERNAME>
DATABASE_PASSWORD=<DATABASE PASSWORD>
DATABASE_NAME=<DATABASE NAME>
DATABASE_DIALECT=<DATABASE DIALECT>
ACCESS_TOKEN_SECRET=<SECRET FOR INITIALIZE JSW>
REFRESH_TOKEN_SECRET=<SECRET FOR REFRESH JSW>
TOKEN_EXPIRATION_TIME=<TIME WHILE ACCES_TOKEN WORKS>
BUCKET_NAME=<BUCKET NAME>
GOOGLE_KEYFILE=<PATH TO GOOGLE KEYFILE>
M_CONTENT_HOST=<MICROSERVICE CONTENT HOST>